@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  font-family: "Libre Baskerville", serif;
}

body {
  /* width: fit-content; */
  display: block;
  background-color: rgb(144, 220, 255);
  justify-content: center;
  /* flex-shrink: 0; */
}
.video-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.spacer {
  height: 50px;
  width: 100%;
}

.line {
  display: block;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.whatsapp-button {
  display: flex;
  margin: auto;
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
  background-color: #000000;

  border-radius: 20px;
  width: fit-content;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 0 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.whatsapp-button a {
  color: #00b819;
  text-transform: uppercase;
}

.whatsapp-button:hover {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #00b819;

  border-width: 2px 2px 2px 2px;
  box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button-text {
  font-size: 15px;
  font-weight: 800 !important;
}

.depoiments {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.testimonies-container {
  margin: auto;
  display: grid;
  grid-gap: 60px 30px;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  width: 100%;
}
.testimony-container {
  display: flex;
  height: 100%;
  background-color: aliceblue;
  border-radius: 10px;
}
.testimonies-container img {
  border-radius: 10px;
  max-width: 400px;
}

@media screen and (min-width: 000px) and (max-width: 480px) {
  .body {
    width: 480px;
    overflow: hidden;
  }
  .testimonies-container {
    grid-template-columns: repeat(1, 400px);
  }
}
