.spacer {
  height: 50px;
  width: 100%;
}

.line {
  display: block;
  background-color: transparent;
}
a {
  text-decoration: none;
}
.whatsapp-button {
  display: flex;
  margin: auto;
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
  background-color: #00b819;

  border-radius: 20px;
  width: fit-content;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 0 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.button-text {
  font-family: "Prociono", Sans-serif;
  font-size: 15px;
  font-weight: 800 !important;
  text-transform: uppercase;
}

.whatsapp-button:hover {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #00b819;

  border-width: 2px 2px 2px 2px;
  box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
