@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  font-family: "Libre Baskerville", serif;
}
body {
  display: flex;
  justify-content: center;
}
.spacer {
  height: 50px;
  width: 100%;
}

.line {
  display: block;
  background-color: transparent;
}

a {
  text-decoration: none;
  color:inherit;
}

.whatsapp-button {
  display: flex;
  margin: auto;
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
  background-color: #000000;

  border-radius: 20px;
  width: fit-content;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 0 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.whatsapp-button a{
  color: #00b819;
}



.whatsapp-button:hover {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #00b819;

  border-width: 2px 2px 2px 2px;
  box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button-text {
  font-size: 15px;
  font-weight: 800 !important;
}

.testimony {
 width: 200px;
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 grid-gap: 16px
}